altgraph==0.17.4
auto-py-to-exe==2.44.1
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
Eel==0.17.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
guidata==3.1.0
guiqwt==4.4.5
h5py==3.11.0
idna==3.7
numpy==2.0.0
packaging==24.1
pefile==2023.2.7
pillow==10.4.0
pycparser==2.22
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pyparsing==3.1.2
pyqt-tools==1.0.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PyQt6==6.7.0
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
PythonQwt==0.12.6
pywin32-ctypes==0.2.2
QtPy==2.4.1
requests==2.32.3
scipy==1.14.0
tomli==2.0.1
urllib3==2.2.2
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.4.post2
